In [7]:
#실수값을 제대로 사용하기 위해서는 round사용 필수
a = 0.3 + 0.6
print(a)

#round()
#1. 실수형 데이터 2.반올림하고자하는 위치 -1
print(round(123.456, 2))

#5번째부터 반올림하는게 일반적
print(round(a, 4))

0.8999999999999999
123.46
0.9

In [16]:
#리스트 컴프리헨션
#list 초기화에 자주 사용된다.

#20까지의 숫자중 홀수
array = [i for i in range(20) if i % 2 == 1]

#위에식을 풀어쓰면
array2 = []
for i in range(20):
    if i % 2 == 1:
        array2.append(i)

print(array)
print(array2)

#1부터 9까지의 제곱 list
array3 = [i * i  for i in range(1,10)]
print(array3)


#2차원 배열을 초기화할때 매우 효율적으로 사용됨

# N x M 의 2차원 배열 초기화
n = 3
m = 4
array4 = [[0] * m for _ in range(n)]

print(array4)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [17]:
#파이선은 list remove all 을 제공하지않는다.

a = [1,2,3,4,5,5,5]
remove_set = [3,5]

result = [i for i in a if i not in remove_set]

print(result)

[1, 2, 4]

In [19]:
#튜플 자료형
#1. 튜플 자료형은 한번 선언된 값을 변경 할 수 없다.
#2. 소괄호 () 사용

a = (1,2,3,4)

print(a[2])

a[2] = 111

#주로 그래프 알고리즘에 사용..
#우선 큐를 사용 -> 우선 큐의 값이 변경되면 안되기 때문..

3

TypeError: 'tuple' object does not support item assignment

In [28]:
#set 
#중복을 허용하지 않음
#순서가 없다

a = set([1,2,3,4,5])
b = set([3,4,5,6,7])

#합집합
print(a | b)
#교집합
print(a & b)
#차집합
print(a - b)


data = set([1,2,3])
#add 
data.add(4)
print(data)

#remove
data.remove(4)
print(data)

#update -> 여러개값
data.update([5,6])
print(data)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 5, 6}

In [31]:
#함수 및 람다식
def add(a,b):
    return a + b

print(add(3, 7))

#람다식
print((lambda a,b : a + b)(3,7))

10
10

In [32]:
#입출력
n = int(input())
print(n)

5
5

In [33]:
data = list(map(int, input().split()))

print("data - ", data)

1 2 3 4 5
data -  [1, 2, 3, 4, 5]

In [39]:
n,m,k = map(int, input().split())

print(n, m, k)

2 3 42
2 3 42

In [40]:
#input은 동작속도가 느려 sys를 사용해야할때가 있다!
import sys

data = sys.stdin.readline().rstrip()

print(data)

#jupyter 에서는 stdin 이 제대로 구성되어 있지 않기 때문에 stdin.readline() 을 실행하면 입력을 받지 못하고 항상 빈 문자열이 반환

# 내장함수
### import 없이 사용
### input() print() max() min() sum() eval() sorted()

In [41]:
result = sum([1,2,3,4,5])
print(result)

15

In [42]:
result = min([1,2,3,4,5])
print(result)

1

In [43]:
result = max([1,2,3,4,5])
print(result)

5

In [44]:
#eval -> 문자열 수식을 계산해준다.
result = eval("3 * 5 + 7")
print(result)

22

In [46]:
result = sorted([9, 1, 8, 5, 4]) #오름차순
print(result)

result = sorted([9, 1, 8, 5, 4], reverse=True) # 내림차순
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

In [47]:
#특정 위치에서 사용
result = sorted([('홍길동', 35), ('이순신', 77), ('아무개', 50)], key = lambda x:x[1])
print(result)

[('홍길동', 35), ('아무개', 50), ('이순신', 77)]

In [49]:
#sort() 사용
data = [9, 1, 8, 5, 4]
data.sort()

print(data)

[1, 4, 5, 8, 9]